params {
    input = null
    outdir = "results"
    reference_fasta = null
    mapq = 30
}

process {
    executor = 'slurm'

    scratch = true

    queue = 'batch'

    clusterOptions = '--account=epigenetics'

    withName: FASTQC {
	queue = 'batch'
	time = '24h'
        cpus = 4
	memory = '16 GB'
    }

    withName: TRIMGALORE {
	queue = 'batch'
	time = '36h'
        cpus = 4
	memory = '32 GB'
    }

    withName: BWA_MEM2 {
        queue = 'batch'
        time = '36h'
        cpus = 4
        memory = '72 GB'
    }

    withName: FILTER_BAM {
        queue = 'batch'
        time = '36h'
        cpus = 4
        memory = '12 GB'
    }
}

conda {
    enabled = true
    useMamba = true
}
